.app {
  position: relative;
  display: flex;
  flex: 0;

  width: 1080px;
  height: 1920px;

  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

html[lang="ru"] .app {
  background-image: url("./assets/crew-bg-ru.webp");
}

html[lang="en"] .app {
  background-image: url("./assets/crew-bg-en.webp");
}

html[lang="ch"] .app {
  background-image: url("./assets/crew-bg-ch.webp");
}
