.app {
  position: relative;
  display: flex;
  flex: 0;

  width: calc(1080px * 0.8);
  height: calc(1920px * 0.8);

  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./assets/crew-bg-2.webp');
  background-size: contain;
}
