.app {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0;

  width: 1080px;
  height: 1920px;

  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./assets/crew-museum-background_2283x4060_72ppi.webp');
  background-size: 1080px 1920px;
}
