.app {
  display: flex;
  justify-content: center;
  flex: 0;

  width: 1440px;
  height: 2560px;

  margin: 0 auto;
  padding: 10px;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./assets/img/page-background.webp');
  background-size: 100% 100%;
}
