@font-face {
  font-family: "PFAgoraSerifPro"; /* Имя шрифта */
  src: url("./assets/fonts/pfagoraserifpro-regular.ttf") format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: normal;
}

@font-face {
  font-family: "PFAgoraSerifPro";
  src: url("./assets/fonts/pfagoraserifpro-medium.ttf") format("opentype");
  font-weight: 500;
}

body {
  margin: 0;
  font-family: PFAgoraSerifPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

* {
  box-sizing: border-box;
}